.search-container {
    margin: 50px auto;
    width: 50%;
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .suggestion-item {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  